In [1]:
import pandas as pd

In [4]:
younger_volume_df = pd.read_csv('combined.csv')
younger_volume_df = younger_volume_df.drop(younger_volume_df.columns[0], axis=1)
younger_volume_df

,sub_id,gm,wm,csf,vent_1,vent_2,vent_3,vent_4,vent,tbv,ticv,age,gender
0,HCP_100206,807.245116,543.133614,1.3580,5.4561,5.7324,1.1917,1.3670,13.7472,1350.378730,2118.186,28.00,M
1,HCP_100307,664.123562,407.291913,0.8688,3.6619,3.3660,0.5287,0.9038,8.4604,1071.415475,1549.276,29.00,F
2,HCP_100408,726.206081,500.417484,1.0976,3.9609,8.4169,1.0695,2.6217,16.0690,1226.623565,1844.923,35.00,M
3,HCP_100610,762.308286,512.945639,1.1411,4.5285,4.3489,0.8985,2.0755,11.8514,1275.253925,1827.401,26.00,M
4,HCP_101006,579.631969,429.449443,0.9677,5.1948,4.1178,0.5915,2.1838,12.0879,1009.081412,1478.182,33.00,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587,AOMIC_ds002790_sub-0222,578.647371,422.002212,0.9726,5.3743,4.7917,0.6440,1.5243,12.3343,1000.649583,1330.023,22.00,F
1588,AOMIC_ds002790_sub-0223,608.108917,449.048516,1.0658,9.6440,7.9656,0.8641,1.7023,20.1760,1057.157433,1395.652,20.75,F
1589,AOMIC_ds002790_sub-0224,645.075438,468.672237,0.8965,5.8030,5.6165,0.7911,1.7741,13.9847,1113.747675,1498.281,21.75,M
1590,AOMIC_ds002790_sub-0225,631.797081,421.689856,1.2321,12.8661,11.6929,1.3400,1.7870,27.6860,1053.486937,1454.606,20.25,F
1591,AOMIC_ds002790_sub-0226,698.727690,524.393099,0.8033,6.1191,6.0618,0.6209,2.5720,15.3738,1223.120789,1578.266,20.00,M

In [9]:
elder_volume_df = pd.read_csv('elderCombined.csv')
elder_volume_df = elder_volume_df.drop(elder_volume_df.columns[1], axis=1)
elder_volume_df.columns.values[0] = 'sub_id'
elder_volume_df

,sub_id,gm,wm,csf,vent_1,vent_2,vent_3,vent_4,vent,tbv,ticv,age,gender
0,OAS30001_d0129,517.683180,367.262933,0.8232,5.7833,4.1511,0.7433,1.4613,12.1390,884.946114,1372.681,65.0,F
1,OAS30001_d0757,500.699151,373.376770,0.8580,5.9195,4.1457,0.7508,1.2424,12.0584,874.075921,1356.303,67.0,F
2,OAS30001_d2430,487.405490,354.128782,0.9294,7.5141,5.5324,0.9283,1.7956,15.7704,841.534271,1324.000,71.0,F
3,OAS30001_d3132,491.102258,347.616342,0.9030,7.7209,5.8864,0.9007,1.6364,16.1444,838.718599,1379.136,73.0,F
4,OAS30002_d0653,628.934951,511.207555,1.3287,18.1889,20.1404,2.3774,1.9923,42.6990,1140.142506,1736.334,68.0,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,OAS31168_d2526,581.509707,431.088207,1.1330,21.8047,18.0985,1.5529,2.6966,44.1527,1012.597914,1644.080,72.0,M
1832,OAS31169_d0620,593.751519,419.580058,1.3911,30.5511,33.6612,3.2736,3.0071,70.4930,1013.331577,1687.338,64.0,F
1833,OAS31170_d2410,506.151516,420.755699,1.1581,10.5404,10.2486,1.2456,2.1242,24.1588,926.907214,1396.578,71.0,F
1834,OAS31172_d0407,523.888431,442.039002,1.3108,19.1381,17.1701,2.4500,1.3177,40.0759,965.927433,1650.976,72.0,F
1835,OAS31172_d1717,534.192059,420.979931,1.4630,23.3541,21.3607,2.7254,1.6253,49.0655,955.171991,1604.575,75.0,F

In [11]:
combined_df = pd.concat([younger_volume_df, elder_volume_df], ignore_index=True)
combined_df

,sub_id,gm,wm,csf,vent_1,vent_2,vent_3,vent_4,vent,tbv,ticv,age,gender
0,HCP_100206,807.245116,543.133614,1.3580,5.4561,5.7324,1.1917,1.3670,13.7472,1350.378730,2118.186,28.0,M
1,HCP_100307,664.123562,407.291913,0.8688,3.6619,3.3660,0.5287,0.9038,8.4604,1071.415475,1549.276,29.0,F
2,HCP_100408,726.206081,500.417484,1.0976,3.9609,8.4169,1.0695,2.6217,16.0690,1226.623565,1844.923,35.0,M
3,HCP_100610,762.308286,512.945639,1.1411,4.5285,4.3489,0.8985,2.0755,11.8514,1275.253925,1827.401,26.0,M
4,HCP_101006,579.631969,429.449443,0.9677,5.1948,4.1178,0.5915,2.1838,12.0879,1009.081412,1478.182,33.0,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3423,OAS31168_d2526,581.509707,431.088207,1.1330,21.8047,18.0985,1.5529,2.6966,44.1527,1012.597914,1644.080,72.0,M
3424,OAS31169_d0620,593.751519,419.580058,1.3911,30.5511,33.6612,3.2736,3.0071,70.4930,1013.331577,1687.338,64.0,F
3425,OAS31170_d2410,506.151516,420.755699,1.1581,10.5404,10.2486,1.2456,2.1242,24.1588,926.907214,1396.578,71.0,F
3426,OAS31172_d0407,523.888431,442.039002,1.3108,19.1381,17.1701,2.4500,1.3177,40.0759,965.927433,1650.976,72.0,F
3427,OAS31172_d1717,534.192059,420.979931,1.4630,23.3541,21.3607,2.7254,1.6253,49.0655,955.171991,1604.575,75.0,F

In [12]:
file_path = 'patientsData.csv'
combined_df.to_csv(file_path, index=False)